.cursos {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.numSoluciones {
    font-size: 1.5rem;
    color: #666;
}

.curso {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

td {
    border-top: 1px solid rgb(163, 163, 163);
    border-left: none;
    border-right: none;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
}

.nombreCurso {
    color: #00533f;
    font-size: 1rem;
    text-decoration: none;
}

.nombreCurso:hover {
    text-decoration: underline;
}

h1 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
}

small {
    color: #666;
}

.facultades {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: left;
    color: #003300;
    font-size: 1rem;
    text-decoration: none;
}

.facultad {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}

.facultad p {
    margin: 0.5rem;
    color: #003300;
}

.iconoFacultad {
    color: #00533f;
    margin-left: 10px;
}

.master:hover {
    text-decoration: underline;
    cursor: pointer;
}

.masteres {
    margin-left: 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 0.5s ease;
}

.masteres.expanded {
    max-height: 500px;
    opacity: 1;
  }

.tablaIdiomas {
    margin-bottom: 50px;
}