.todoExamenes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.asignaturaId {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #666;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #666;
}

table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.cellYear {
    background-color: #f2f2f2;
}

.cellContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cellContent img {
    width: 1rem;
    height: auto;
}

.totalExamenes {
    border: 1px solid #b8b8b8;
    background-color:#eeeeee;
    padding: 1rem;
}

.totalExamenes p {
    color: #666;
    margin-left: 1rem;
}

.volverDepositoButton {
    background-color: #00533f;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.volverDepositoButton:hover {
    background-color: #03664f;
}

.descargarButton {
    margin-top: 1rem;
    background-color: #00533f;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.descargarButton:hover {
    background-color: #03664f;
}

.sinExamenes {
    background-color: #eeeeee;
    border: 1px solid #b8b8b8;
    padding: 1rem;
}
